@keyframes dot {
    0%   {left: -20%;}
    25%  {left:-20%;}
    50%  {left: 5%;}
    100% {left: -12%;}
    
  }
  @keyframes dot2 {
    0%   {width:0rem;}
    50%   {width:0rem;}
    100% {width: 7rem;}
  }
  
  @keyframes Contact {
    0%   {top:100%;}
    100% {top: 70%;}
  }

  @keyframes s-a {
    0%   {top:140%;color: transparent;}
    25%  {top:120%;}
    50%  {top: 100%;}
    100% {top: 85%;}
  }
 
  .home .home-content .text-2::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .home .home-content .text-2:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .home .home-content .text-2::before {
    content: "...";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    color: var(--color-light);
    z-index: -1;
    transition: transform .3s ease;
  }



  /* loading page */

.jelly-triangle {
  --uib-size: 6.8rem;
  --uib-speed: 1.75s;
  --uib-color: #fff;
  height: var(--uib-size);
  width: var(--uib-size);
  filter: url(#uib-jelly-triangle-ooze);
  position: absolute;
  left: 45%;
  top: 45%;
}

.jelly-triangle__dot,
.jelly-triangle::before,
.jelly-triangle::after {
  content: '';
  position: absolute;
  width: 33%;
  height: 33%;
  background: var(--uib-color);
  border-radius: 100%;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.jelly-triangle__dot {
  top: 6%;
  left: 30%;
  animation: grow7132 var(--uib-speed) ease infinite;
}

.jelly-triangle::before {
  bottom: 6%;
  right: 0;
  animation: grow7132 var(--uib-speed) ease calc(var(--uib-speed) * -0.666)
    infinite;
}

.jelly-triangle::after {
  bottom: 6%;
  left: 0;
  animation: grow7132 var(--uib-speed) ease calc(var(--uib-speed) * -0.333)
    infinite;
}

.jelly-triangle__traveler {
  position: absolute;
  top: 6%;
  left: 30%;
  width: 33%;
  height: 33%;
  background: var(--uib-color);
  border-radius: 100%;
  animation: triangulate6214 var(--uib-speed) ease infinite;
}

.jelly-maker {
  width: 0;
  height: 0;
  position: absolute;
}

@keyframes triangulate6214 {
  0%,
  100% {
    transform: none;
    
  }

  33.333% {
    transform: translate(120%, 175%);
  }

  66.666% {
    transform: translate(-95%, 175%);
  }
}

@keyframes grow7132 {
  0%,
  100% {
    transform: scale(1.5);
  }

  20%,
  70% {
    transform: none;
  }
}
