@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

:root {
--color-bg : #101B42 ;
    --color-primary : #79BEFE;
    --color-light : #335180 ;
    --white : #fff ;
    --transition : all 400ms ease ;
    --transition2 : all 200ms ease ;

}
html,
body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    color: var(--white);
    background-color: var(--color-bg);
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--white);
}
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-light);
}
.container {
    width: 90%;
    margin: 0 auto;
}

a {
    color: var(--white);
}

nav {
    background: transparent;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.window-scroll {
    background-color: var(--color-light);
    transition: var(--transition);
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container img {
    height: 30px;
    width: 43px;
    user-select: none;
}
.submit-btn
figure button,
.cards button,
.nav-menu button {
    background-color: transparent; 
    color: var(--white); 
    border: 1px solid var(--white);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition:var(--transition);
    cursor: pointer;
    
  } 
.submit-btn:hover,
figure button:hover,
.cards button:hover,
.nav-menu button:hover {
    background-color: var(--white); 
    color: var(--color-bg); 
    border: 2px solid var(--white);
}

nav .icons {
    display:none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.card__link:hover::after {
  width: 100%;
}


.nav-menu a {
    position: relative;
    text-decoration: none;
    color: var(--white);
    animation-name: nav;
    animation-duration: 2s;
}

.nav-menu a::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--white);
  transition: all 0.5s;
}

.nav-menu a:hover::after {
    width: 100%;

}


.forms .dot {
    position: absolute;
    height: 15rem;
    width: 15rem;
    background-color: var(--color-primary);
    border-radius: 100%;
    top: 17%;
    left: -12%;
    animation-name: dot;
    animation-duration: 6s;
}

.forms .dot2 {
    position: absolute;
    height: 15rem;
    width: 7rem;
    background-color: var(--color-primary);
    top: 50%;
    right: 0;
    animation-name: dot2;
    animation-duration: 2s;
}

.contact {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 70%;
    left: 4%;
    animation: Contact;
    animation-duration: 2s;
}

.contact img {
    padding: 5%;
    width: 70%;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--color-light);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
.div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.home {
    position: relative;
  width: 100%;
  display: flex;
  line-height: 6rem;
  user-select: none;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  animation-name: text-1;
  animation-duration: 6s;
}

.home .text-1{
    font-size: 27px;
    color: #ffffff;
    
}

.home .text-2{
    font-size: 7rem;
    font-weight: 600;
}
.home .text-3{
    font-size: 3rem;
}
.home .text-3 span{
    color: var(--color-primary);
}


.scroll a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 85%;
    left: 48%;
    animation-name: s-a;
    animation-duration: 4s;
}
.scroll img {
    height: 2rem;
}

.Services {
    position: absolute;
    top: 107%;
    padding: 10rem 10rem 10rem 10rem;
}

.div1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
  }
  
  .text--medium {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ecf0f1;
  }
  
  .cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
  }
  
  .card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .card:hover {
    transform: translateY(-7px);
  }
  
  .card__image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
  }
  
  .card__image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card__content {
    padding: 20px;
  }
  
  .card__title {
    margin-bottom: 20px;
  }
  
  .card__info {
    display: flex;
    align-self: end;
    align-items: center;
  }
  
  .card__price {
    margin-left: auto;
    padding: 5px 20px;
    background-color: var(--color-primary);
    border-radius: 20px;
  }
  
  @media only screen and (max-width: 1000px) {
    .card {
      grid-column-end: span 6;
    }
  }
  
  @media only screen and (max-width: 700px) {
    main {
      grid-gap: 20px;
    }
    .card {
      grid-column-end: span 12;
    }
  }
  
  @media only screen and (max-width: 500px) {
    main {
      grid-template-columns: 10px repeat(6, 1fr) 10px;
      grid-gap: 10px;
    }
    .cards {
      grid-column: 2 / span 6;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
    }
    .card {
      grid-column-end: span 6;
    }
  }
  

  .cnt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    height: 54rem;
    flex-direction: column;
}
.full {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.full h3 {
    font-size: 3rem;
    user-select: none;
}
.full p {
    font-size: 1.5rem;
    user-select: none
}