
  @keyframes big-shap {
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 0rem;
        height: 0rem;
    }
    100%{
        width: 36rem;
        height: 36rem;
    }
  }
  

  @keyframes medium-shap {
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 0rem;
        height: 0rem;
    }
    100%{
        width: 30rem;
        height: 30rem;
    }
  }
  

  @keyframes small-shap {
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 0rem;
        height: 0rem;
    }
    100%{
        width: 20rem;
        height: 20rem;
    }
  }





  @keyframes text-h2 {
    0%{
        font-size: 0rem;
    }
    50%{
        font-size: 0rem;
    }
    100%{
        font-size: 150px;
    }
  }


  @keyframes text-h1{
    0%{
        font-size: 100rem;
    }
    100%{
        font-size:10rem;
    }
  }
  