@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
  }

body,html {
    background: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
  :root {
    --text-color : #fff;
    --text-color-2 : rgb(160, 160, 160);
    --bg-color : #090a1a;
    --header-color : #090a1a9a;
    --main-color : rgba(121, 201, 247, 0.993);
    --main-color-2 : rgb(16, 14, 24);
    --big-font : 4rem;
    --p-font : 1rem;
  }
/* SKROLL BAR  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--text-color-light); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--first-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b343a; 
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--header-color);
  backdrop-filter: blur(10px);
  padding: 24px 10%;
}
.logo {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 600;
}
span{
  color: var(--main-color);
}
.navbar {
  display: flex;
}
.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
}
.navbar a:hover {
  color: var(--main-color);
  transition:  1s ;
}
.navbar #contact {
  color: var(--text-color);
  border-radius: 30px;
}
.navbar #contact:hover {
  color: var(--text-color);
  border-radius: 30px;
  background: var(--main-color);
  transition: all 300ms ease-in-out;
}
#menu-icon {
  font-size: 28px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
section {
  padding: 120px 10%;
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: center;
}
.home-img img {
  max-width: 100%;
  width: 600px;
  height: auto;
}
.home-text h5 {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 20px;
}
.home-text h1 {
  font-size: var(--big-font);
  color: var(--text-color);
  font-weight: 700;
  line-height: 1;
  margin: 0 0 20px;
}
.home-text h6 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}
.home-text p {
  max-width: 470px;
  font-size: var(--p-font);
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  color: var(--text-color-2);
}
.btn{
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 350ms;
}
.btn:hover{
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}
.about{
  padding: 120px 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}
.about-img {
  --gap: 16px;
  --num-cols: 2;
  --row-height: 300px;
  box-sizing: border-box;
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.about-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about-img-col-2 {
  grid-column: span 2;
}

.about-img-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .about-img {
    --num-cols: 2;
    --row-height: 200px;
  }
}
.about-text h2 {
  color: var(--text-color);
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 6px;
  margin: 0 0 30px;
}

.about-text p {
  color: var(--text-color-2);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 6px;
  margin: 0 0 30px;
}
.count {
  margin-bottom: 2rem;
}
.about-text .count a {
  color: var(--text-color-2);
  margin-right: 20px;
  word-spacing: 5px;
}
.count span {
  color: var(--main-color);
  font-size: 2.7rem;
  font-weight: 600;
}
.main-btn .btn {
  margin-right: 20px;
}