@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    color: white;
  }

body,html {
    background: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    overflow-x: hidden;
}
  :root {
    --text-color : #fff;
    --text-color-2 : rgb(160, 160, 160);
    --bg-color : #090a1a;
    --header-color : #090a1a9a;
    --main-color : rgba(121, 201, 247, 0.993);
    --main-color-2 : rgb(16, 14, 24);
    --big-font : 4rem;
    --p-font : 1rem;
  }
/* SKROLL BAR  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--text-color-light); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--first-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b343a; 
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--header-color);
  backdrop-filter: blur(10px);
  padding: 24px 10%;
}
.logo {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 600;
}
span{
  color: var(--main-color);
}
.navbar {
  display: flex;
}
.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
}
.navbar a:hover {
  color: var(--main-color);
  transition:  1s ;
}
.navbar #contact:hover {
  color: var(--text-color);
  border-radius: 30px;
}
.navbar #contact {
  color: var(--text-color);
  border-radius: 30px;
  background: var(--main-color);
  transition: all 300ms ease-in-out;
}
#menu-icon {
  font-size: 28px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
section {
  padding: 120px 10%;
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: center;
}
.home-img{
  display: flex;
  justify-content: flex-end;
}
.home-img img {
  max-width: 100%;
  width: 420px;
  height: auto;
}
.home-text h5 {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 20px;
}
.home-text h1 {
  font-size: var(--big-font);
  color: var(--text-color);
  font-weight: 700;
  line-height: 1;
  margin: 0 0 20px;
}
.home-text h6 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}
.home-text p {
  max-width: 470px;
  font-size: var(--p-font);
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  color: var(--text-color-2);
}
.send-btn,
.btn{
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 350ms;
}
.send-btn,
.btn:hover{
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}
.social{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  gap: 10%;
}
.social .container {
  cursor: pointer;
  width: 100%;
  font-size: 43px;
  display: contents;
  gap: 3rem;
}
.about{
  padding: 120px 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}
.about-img {
  --gap: 16px;
  --num-cols: 2;
  --row-height: 300px;
  box-sizing: border-box;
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.about-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about-img-col-2 {
  grid-column: span 2;
}

.about-img-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .about-img {
    --num-cols: 2;
    --row-height: 200px;
  }
}
.about-text h2 {
  color: var(--text-color);
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 6px;
  margin: 0 0 30px;
}

.about-text p {
  color: var(--text-color-2);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 6px;
  margin: 0 0 30px;
}
.count {
  margin-bottom: 2rem;
}
.about-text .count a {
  color: var(--text-color-2);
  margin-right: 20px;
  word-spacing: 5px;
}
.count span {
  color: var(--main-color);
  font-size: 2.7rem;
  font-weight: 600;
}
.main-btn .btn {
  margin-right: 20px;
}
.center{
  text-align: center;
}
.center h3{
  color: var(--text-color);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
}
.service-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4.4rem;
}

.row{
  background: #0a0a16;
  padding: 60px 35px;
  cursor: pointer;
  transition: all 400ms;
}
.row i{
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 20px;
}
.row h3{
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--text-color);
}
.row p{
  font-size: 18px;
  color: var(--text-color-2);
}
.row:hover{
  transform: translate(-14px);
  box-shadow: 14px 14px 0px 0px #fff;
}

.cta{
  background: #0a0a16;
  width: 100%;
  padding: 150px 0;
  text-align: center;
  margin: 100px auto;
}

.cta h4{
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 30px;  
  z-index: 2;
}
.cta h2{
  color: var(--main-color);
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 40px;
}
.resume-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4.4rem;
}
.box {
  background: #0a0a16;
  padding: 50px 30px;
  cursor: pointer;
  transition: all 400ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.box h6{
  color: #3e4455;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.box h4{
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 13px;
}
.box p{
  color: var(--text-color-2);
  font-size: var(--p-font);
  font-weight: 300;
  line-height: 1.8rem;
  margin-bottom: 1.2rem;
}
.box h5{
  color: var(--text-color-light);
  font-size: 14px;
  font-weight: 500;
}
.box:hover{
  transform: translate(-7px);
  box-shadow: 7px 7px 0px 0px #fff;
}
.contact-form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.2rem;
}
.contact-form form{
  position: relative;
  width: 550px;
}
form input,
form textarea{
  min-width: 100%;
  max-width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background: #0b0b13;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.send-btn{
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  cursor: pointer;
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 350ms;
}
.send-btn:hover{
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}
.copyright{
  text-align: center;
  padding: 30px;
  color: var(--text-color-2);
  background: #0b0b13;
  margin-top: 3rem;
}

@media screen and (max-width: 1430px) {
  header{
    padding: 25px 3%;
  }
  section{
    padding: 40px 3%;
  }
  :root{
    --big-font: 3rem;
  }
}

@media screen and (max-width: 1020px) {
  :root{
    --big-font: 3rem;
    --p-font: 0.9rem;
  }
  .home{
    height: 70vh;
  }
}
@media screen and (max-width: 830px) {
  header{
      padding: 18px 3%;
      display: flex;
    justify-content: space-between;
  }
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #0b0b13;
    text-align: left;
    transition: 200ms ease;
  }
  .navbar a{
    display: block;
    padding: 1rem;
    border-left: 2px solid var(--main-color);
    margin: 1rem;
  }
  .navbar #contact:hover {
    color: var(--main-color);
    transition:  1s ;
    border-radius: 0px;
  }
  .navbar #contact {
    color: var(--text-color);
    background: #0b0b13;
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 0px;
  }
  .navbar.active{
    top: 100%;
  }
}
@media screen and (max-width: 830px) {
    .home{
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      text-align: center;
      margin-top: 80px;
      height: 100vh;
    }
    .home-text p{
      max-width: 100%;
    }
    .home-img{
      justify-content: center;
    }
    .home-img img{
      max-width: 100%;
      width: 420px;
      height: auto;
    }
    .about{
      grid-template-columns: 1fr;
      text-align: center;
    }
    .about-text h2{
      max-width: 100%;
    }
    .about-text p{
      max-width: 100%;
    }
    .about-img{
      order: 2;
    }
    .social{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 150px 0 80px;
    }
    .typed-cursor{
      font-size: 40px;
    }
    .typing{
      font-size: 40px;
    }
    .box{
      width: 90%;
    }
}