@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}

.marquee {
  justify-content: space-around !important;
}
.initial-child-container {
  display: contents !important;
}

.animate-float01 {
  transition: transform 1s ease-in-out infinite;
  animation: float01 3s ease-in-out infinite;
}
.animate-float02 {
  transition: transform 1s ease-in-out infinite;
  animation: float02 4s ease-in-out infinite;
}
.animate-float03 {
  transition: transform 1s ease-in-out infinite;
  animation: float03 5s ease-in-out infinite;
}

/* Floating Animation */
@keyframes float01 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes float02 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes float03 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}



.button5:active {
  transform: scale(0.95);
}

.button5:before,
.button5:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button5:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #4338ca 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #4338ca 20%, transparent 30%),
    radial-gradient(circle, #4338ca 20%, transparent 20%),
    radial-gradient(circle, #4338ca 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #4338ca 15%, transparent 20%),
    radial-gradient(circle, #4338ca 20%, transparent 20%),
    radial-gradient(circle, #4338ca 20%, transparent 20%),
    radial-gradient(circle, #4338ca 20%, transparent 20%),
    radial-gradient(circle, #4338ca 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: orangeTopBubbles 0.6s ease;
}

@keyframes orangeTopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button5:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #4338ca 20%, transparent 20%),
    radial-gradient(circle, #4338ca 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #4338ca 15%, transparent 20%),
    radial-gradient(circle, #4338ca 20%, transparent 20%),
    radial-gradient(circle, #4338ca 20%, transparent 20%),
    radial-gradient(circle, #4338ca 20%, transparent 20%),
    radial-gradient(circle, #4338ca 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: orangeBottomBubbles 0.6s ease;
}

@keyframes orangeBottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.linearGradient {
  background: linear-gradient(45deg, #f5f6ff, white);
}

.linearGradient2 {
  background: linear-gradient(182deg, white, #f5f6ff);
}

.marquee {
  display: flex;
  gap: 6rem;
}